.box{
	padding: 15px;
	float:left;
	width: 32%;
	border: 1px solid #dddddd;
	border-top-width: 5px;
}
.info, .contact{
	margin-right:2%;
}
.info{
	border-color: red;
}

.info span{
	color: red;
}
.contact{
	border-color: blue;
}

.contact span{
	color: blue;
}

.company{
	border-color: green;
}

.company span{
	color: green;
	
}

