* {
	box-sizing: border-box;
}
body{
	background-color: #e5e5e5;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	height:100%
}
h1{
	color:#404040;
	font-size: 24px;
	margin: 30px 0 10px 0;
}
img{
	max-width:100%;
	vertical-align: middle;
}

.wrap{
		max-width:1280px;
		margin: auto;
}
#main-menu {
	 position:relative;
	 background-color: white;
	 text-align:center;
	 padding: 15px;
	 border-bottom: 1px solid #dddddd;
 }	
#main-menu a {
	font-size: 20px;
	color: blue;
	text-decoration: none;
	padding: 30px;
	font-weight:bold;
}

#main-menu a:hover, #main-menu a.active{
	color:black;
}

 
#main-menu > a:first-child {
	position:absolute;
	top: -134px;
    left: 100px;
	padding: 4px;
	background-color: #FFFFFF;
	border-radius: 50%
}
#main-menu > a:first-child > img {
	max-width: 160px;
	border-radius: 50%;
}
#footer{
	clear:both;
	padding: 30px 0;
	text-align: center;
}
#footer p {
	margin: 0;
	padding: 30px 0 15px 0;
	border-top: 1px solid #c5c5c5;
}

#chat {
	position: fixed;
	right: 30px;
	bottom: 30px;
	max-width: 50px;
}
#backontop {
	max-width: 50px;
	margin: auto;
}

	
